<div class="content-wrapper">
  <div class="container">
    <div class="col-sm-12">
      <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="font-weight-600 mb-4">
                ART
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-sm-4 grid-margin">
                  <div class="rotate-img">
                    <img
                      src="../assets/images/art/art_7.png"
                      alt="banner"
                      class="img-fluid"
                    />
                  </div>
                </div>
                <div class="col-sm-8 grid-margin">
                  <h2 class="font-weight-600 mb-2">
                    No charges over 2017 battle bus cases
                  </h2>
                  <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">Photo </span>10 Minutes ago
                  </p>
                  <p class="fs-15">
                    Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to make a
                    type specimen book.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 grid-margin">
                  <div class="rotate-img">
                    <img
                      src="../assets/images/art/art_8.png"
                      alt="banner"
                      class="img-fluid"
                    />
                  </div>
                </div>
                <div class="col-sm-8 grid-margin">
                  <h2 class="font-weight-600 mb-2">
                    No charges over 2017 battle bus cases
                  </h2>
                  <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">Photo </span>10 Minutes ago
                  </p>
                  <p class="fs-15">
                    Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to make a
                    type specimen book.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 grid-margin">
                  <div class="rotate-img">
                    <img
                      src="../assets/images/art/art_9.png"
                      alt="banner"
                      class="img-fluid"
                    />
                  </div>
                </div>
                <div class="col-sm-8 grid-margin">
                  <h2 class="font-weight-600 mb-2">
                    Kaine: Trump Jr. may have committed treason
                  </h2>
                  <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">Photo </span>10 Minutes ago
                  </p>
                  <p class="fs-15">
                    Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to make a
                    type specimen book.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 grid-margin">
                  <div class="rotate-img">
                    <img
                      src="../assets/images/art/art_10.png"
                      alt="banner"
                      class="img-fluid"
                    />
                  </div>
                </div>
                <div class="col-sm-8 grid-margin">
                  <h2 class="font-weight-600 mb-2">
                    South Korea’s Moon Jae-in sworn in vowing to address
                  </h2>
                  <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">Photo </span>10 Minutes ago
                  </p>
                  <p class="fs-15">
                    Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to make a
                    type specimen book.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 grid-margin">
                  <div class="rotate-img">
                    <img
                      src="../assets/images/art/art_11.png"
                      alt="banner"
                      class="img-fluid"
                    />
                  </div>
                </div>
                <div class="col-sm-8 grid-margin">
                  <h2 class="font-weight-600 mb-2">
                    No charges over 2017 battle bus cases
                  </h2>
                  <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">Photo </span>10 Minutes ago
                  </p>
                  <p class="fs-15">
                    Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to make a
                    type specimen book.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 grid-margin">
                  <div class="rotate-img">
                    <img
                      src="../assets/images/art/art_12.png"
                      alt="banner"
                      class="img-fluid"
                    />
                  </div>
                </div>
                <div class="col-sm-8 grid-margin">
                  <h2 class="font-weight-600 mb-2">
                    Kaine: Trump Jr. may have committed treason
                  </h2>
                  <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">Photo </span>10 Minutes ago
                  </p>
                  <p class="fs-15">
                    Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to make a
                    type specimen book.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <h2 class="mb-4 text-primary font-weight-600">
                Latest news
              </h2>
              <div class="row">
                <div class="col-sm-12">
                  <div class="border-bottom pb-4 pt-4">
                    <div class="row">
                      <div class="col-sm-8">
                        <h5 class="font-weight-600 mb-1">
                          Ways to stay social online while in self..
                        </h5>
                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </p>
                      </div>
                      <div class="col-sm-4">
                        <div class="rotate-img">
                          <img
                            src="../assets/images/art/art_1.png"
                            alt="banner"
                            class="img-fluid"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="border-bottom pb-4 pt-4">
                    <div class="row">
                      <div class="col-sm-8">
                        <h5 class="font-weight-600 mb-1">
                          Premier League players join charity..
                        </h5>
                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </p>
                      </div>
                      <div class="col-sm-4">
                        <div class="rotate-img">
                          <img
                            src="../assets/images/art/art_2.png"
                            alt="banner"
                            class="img-fluid"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="pt-4">
                    <div class="row">
                      <div class="col-sm-8">
                        <h5 class="font-weight-600 mb-1">
                          UK Athletics board changed stance on..
                        </h5>
                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </p>
                      </div>
                      <div class="col-sm-4">
                        <div class="rotate-img">
                          <img
                            src="../assets/images/art/art_3.png"
                            alt="banner"
                            class="img-fluid"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="trending">
                <h2 class="mb-4 text-primary font-weight-600">
                  Trending
                </h2>
                <div class="mb-4">
                  <div class="rotate-img">
                    <img
                      src="../assets/images/art/art_4.png"
                      alt="banner"
                      class="img-fluid"
                    />
                  </div>
                  <h3 class="mt-3 font-weight-600">
                    Virus Kills Member Of Advising Iran’s Supreme
                  </h3>
                  <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">Photo </span>10 Minutes ago
                  </p>
                </div>
                <div class="mb-4">
                  <div class="rotate-img">
                    <img
                      src="../assets/images/art/art_5.png"
                      alt="banner"
                      class="img-fluid"
                    />
                  </div>
                  <h3 class="mt-3 font-weight-600">
                    Virus Kills Member Of Advising Iran’s Supreme
                  </h3>
                  <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">Photo </span>10 Minutes ago
                  </p>
                </div>
                <div class="mb-4">
                  <div class="rotate-img">
                    <img
                      src="../assets/images/art/art_6.png"
                      alt="banner"
                      class="img-fluid"
                    />
                  </div>
                  <h3 class="mt-3 font-weight-600">
                    Virus Kills Member Of Advising Iran’s Supreme
                  </h3>
                  <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">Photo </span>10 Minutes ago
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- main-panel ends -->
  <!-- container-scroller ends -->