<form [formGroup]="myForm">
    <input type="text" formControlName="email" placeholder="email" >
    <span *ngIf="myForm.get('email').invalid" >it is required</span> <br>
   
   
    <div formGroupName="passMatch">

            <input placeholder="password" type="text" formControlName="password">
            <div *ngIf="myForm.get('passMatch').get('password').errors">

                <span *ngIf="myForm.get('passMatch').get('password').touched && myForm.get('passMatch').get('password').errors.required" > this a required field </span>
                <span *ngIf="myForm.get('passMatch').get('password').touched && myForm.get('passMatch').get('password').errors.minlength" > minimum length should be 8 charcters </span>
            
            </div> <br>
            <input type="text" formControlName="cpassword" placeholder="confirm password">
            <div *ngIf="myForm.get('passMatch').get('cpassword').errors">

                <span *ngIf="myForm.get('passMatch').get('cpassword').touched && myForm.get('passMatch').get('cpassword').errors.required" > this a required field </span>
            
            </div><br>
    </div>
    <span *ngIf="myForm.get('passMatch').invalid"> password did not match </span>




    <input type="text" formControlName="srName" placeholder="sr name">
    <span *ngIf="myForm.get('srName').invalid" >not a valid sr name</span>

</form>

<div #fff > Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium nisi quaerat debitis? Reiciendis eum neque explicabo tempore? Molestias, tenetur? Quae repellat optio consectetur quasi deserunt unde temporibus veritatis doloribus error?  </div>
<button (click)="changeColor()">click me</button>

<ng-content>

    
</ng-content>



