<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card" data-aos="fade-up">
          <div class="card-body">
            <div class="aboutus-wrapper">
              <h1 class="mt-5">
                About Us
              </h1>
              <p class="font-weight-600 fs-15">
                Newsprism brings the Latest News & Breaking News Headlines from India & around the World. 
                Read Latest News Today on Sports, Business, Health & Fitness, Bollywood & Entertainment,
                 Blogs & Opinions from leading columnists. 
              </p>
              <p class="font-weight-600 fs-15 mb-5 mt-4">
                India's leading business site for Live Markets, Live BSE & NSE quotes, 
                latest news, breaking news, political news, analysis and opinion on markets, companies, industry, 
                economy, policy, banking and personal finance news and more.  
              </p>
              <img
                src="../assets/images/about/about.jpg"
                alt="banner"
                class="img-fluid mb-5"
              />

              <p class="font-weight-600 fs-15 text-center">
                We offer a newsfeed that brings into sharp focus the most important political 
                and cultural stories that are shaping contemporary India. 
              </p>
              <p class="font-weight-600 fs-15 mb-5 mt-4 text-center">
                Our news portal that covers every nook and corner of India and brings to its
                 readers the latest in Indian News, Bollywood News, Sports News, 
                 Political News, Gadget News, Food and Travel related news and articles. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- container-scroller ends -->