<h2>Contact details</h2>
<p>Here is the details of the users who contact to Newsprism</p>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Message</th>
  </tr>
  <tr>
    <td>Naresh Mali</td>
    <td>nareshmali302@gmail.com</td>
    <td>Hello, i want to add my news channel content on your website.</td>
  </tr>
    <tr>
        <td>Harshit Paneri</td>
        <td>harshitpaneri@gmail.com</td>
        <td>Hello, your website is awesome.</td>
      </tr>
      <tr>
        <td>Ashish Jain</td>
        <td>ashishjain@gmail.com</td>
        <td>Hello, Newsprism</td>
      </tr>
      <tr>
        <td>Abhishek Pancholi</td>
        <td>Abhishekpancholi@gmail.com</td>
        <td>Hello, i want to know about some news related topics</td>
      </tr>
</table>