<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper dark-header">
  <header class="main-header">
    <div class="logo"><a href="index.html" >WORLDTIME</a></div>
    <div class="navbar navbar-static-top">
      <div class="btn-grps pull-right">
        <a class="pink-btn dark-btn" href="#">Main Page</a>
        <a href="#" class="pink-btn">Admin Login</a>
      </div>
    </div>

  </header>
  <section class="login-inner">
    <div class="login-middle">
      <div class="login-details">
        <form #f="ngForm">
          <h2>Log In</h2>
          <label>
              <input #emailRef="ngModel" type="email" class="form-control" name="email"  [(ngModel)]="emailProp" [ngModelOptions]="{standalone: true}" placeholder="Username or Email" id="email" required>
              <span *ngIf="emailRef.touched && emailRef.invalid" > this a required field </span>
            </label>
          <label>
              <input  #passRef="ngModel" type="password" class="form-control" name="password"   [(ngModel)]="passwordProp" [ngModelOptions]="{standalone: true}" placeholder="Password" id="pwd" pattern="^[0-9a-z]{8,12}$" required minlength="8">
              <div *ngIf="passRef.errors">

                  <span *ngIf="passRef.touched && passRef.errors.required" > this a required field </span>
                  <span *ngIf="passRef.touched && passRef.errors.minlength" > minimum length should be 8 charcters </span>
                  <span *ngIf="passRef.touched && passRef.errors.pattern" > min 8, max 12, numeric and small letter only </span>


              </div>


            </label>
          <label>
            <input type="checkbox"/><span>Remember me</span>
          </label>
          <div class="btn-sub">
            <button (click)="login()" class="pink-btn">Log In</button>
            <span>
              <a href="#">Forget your password?</a>
            </span>
          </div>

        </form>
      </div>
    </div>
  </section>

</div>