<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card" data-aos="fade-up">
          <div class="card-body">
            <div class="aboutus-wrapper">
              <h1 class="mt-5 text-center mb-5">
                Login
              </h1>
              <div class="row">
                <div class="col-lg-12 mb-5 mb-sm-2">
                  <form  #f="ngForm">
                    <div class="form-group" >
                      <input #emailRef="ngModel" type="email" class="form-control" name="email"    [(ngModel)]="emailProp" [ngModelOptions]="{standalone: true}" placeholder="Email" id="email" required>
                      <span style="color:red;" *ngIf="emailRef.touched && emailRef.invalid" > this a required field </span>
                    </div>
                    <div class="form-group">
                      <input #passRef="ngModel" type="password" class="form-control"  name="password"  [(ngModel)]="passwordProp" [ngModelOptions]="{standalone: true}" placeholder="Password" id="pwd"pattern="^[0-9a-z]{8,12}$" required minlength="8">
                      <div style="color:red;" *ngIf="passRef.errors" >

                        <span *ngIf="passRef.touched && passRef.errors.required"> this a required field </span>
                        <span *ngIf="passRef.touched && passRef.errors.minlength" > minimum length should be 8 charcters </span>
                        <span *ngIf="passRef.touched && passRef.errors.pattern" > min 8, max 12, numeric and small letter only </span>
      
      
                    </div>
                    </div>
                        
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <input type="submit" (click)="login()" value="Submit" class="btn btn-lg btn-dark font-weight-bold mt-3">
                          
                           
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- container-scroller ends -->