body {
  background-color: #7E57C2
}

.container {
  margin-top: 100px
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  color: grey
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid grey
}

input.form-control:focus,
input.form-control:after {
  outline-width: 0;
  border-bottom: 1px solid aqua;
  background: transparent
}

.modal-content {
  color: white;
  background-image: radial-gradient(circle 919px at 1.7% 6.1%, rgb(12, 12, 12) 0%, rgba(14, 14, 14, 0.85) 100.2%)
}

.modal-title {
  color: aqua
}

.modal {
  background-image: radial-gradient(circle 919px at 1.7% 6.1%, rgba(41, 58, 76, 1) 0%, rgba(40, 171, 226, 1) 100.2%)
}

.tc {
  font-size: 12px
}

.modal-footer {
  justify-content: flex-start
}

.signup {
  background: rgb(20, 155, 224);
  background: linear-gradient(90deg, rgba(20, 155, 224, 1) 0%, rgba(0, 49, 78, 1) 100%);
  border-radius: 34rem;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  height: 46px
}

.close {
  color: aqua;
  font-size: 12px;
  position: relative;
  top: 20px
}

h5 {
  font-size: 2rem;
  font-weight: 900
}

.title {
  font-size: 2.25rem;
  font-weight: 700
}

.x {
  color: grey;
  font-size: 40px;
  font-weight: 100;
  display: flex;
  flex-direction: row-reverse;
  top: 0
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none !important
}

.x.focus,
.x:focus {
  outline: 0;
  box-shadow: none !important
}