<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper dark-header">
  <header class="main-header">
    <div class="logo"><a href="index.html" >WORLDTIME</a></div>
    <div class="navbar navbar-static-top">
      <div class="btn-grps pull-right">
        <a class="pink-btn dark-btn" href="#">Main Page</a>
        <a href="#" class="pink-btn">Admin Login</a>
      </div>
    </div>

  </header>
  <section class="login-inner">
    <div class="login-middle">
      <div class="login-details">
        <form>
          <h2>Log In</h2>
          <label>
            <input type="text" placeholder="Email address"/>
          </label>
          <label>
            <input type="password" placeholder="Password"/>
          </label>
          <label>
            <input type="checkbox"/><span>Remember me</span>
          </label>
          <div class="btn-sub">
            <button class="pink-btn">Log In</button>
            <span>
              <a href="#">Forget your password?</a>
            </span>
          </div>

        </form>
      </div>
    </div>
  </section>

</div>