

<div class="row">
   
    <div class="col-sm-4 grid-margin">
      
      <div class="position-relative">
        
        
      </div>
    </div>
    <div class="col-sm-8  grid-margin">
      <h2 class="mb-2 font-weight-600">
        
         <div class="badge-positioned">
            <span class="badge badge-danger font-weight-bold"
              >Coronavirus Covid-19 Live Tracker</span
            >
          </div>
      </h2>
     
      <p class="mb-0">
        <label> <h3>Select your Country</h3></label> <br>
        <select (change)="getCountry($event.target.value)">
         <option *ngFor="let country of countries" value={{country.Slug}}>
          {{country.Country}}
         </option>
         
        </select > 
        <br><br>
         <button (click)="getCoronaData()">Get Corona Virus Data</button>
         <br><br> 
        
        <h1> Total Conformed Cases:{{confirmed}}</h1>
        <h1>Total Recovered Cases:{{recovered}}</h1>
        <h1> Total Death Cases:{{deaths}}</h1>
      
    </div>
  </div>
