<div class="container-scroller">
    <div class="main-panel">
            <app-header></app-header>
            <div class="flash-news-banner">
                <div class="container">
                <div class="d-lg-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                    <span class="badge badge-dark mr-3">Flash news</span>
                    <p class="font-weight-600" *ngFor="let n of newsList | slice:0:1; let i=index">
                        {{n.title}}
                    </p>
                    </div>
                    <div class="d-flex">
                    <span class="mr-3 text-danger">{{today | date:'fullDate'}}</span>
                
                    </div>
                </div>
                </div>
            </div>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
     </div>
</div>