<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card" data-aos="fade-up">
          <div class="card-body">
            <div class="aboutus-wrapper">
              <h1 class="mt-5 text-center mb-5">
                Contact Us
              </h1>
              <div class="row">
                <div class="col-lg-12 mb-5 mb-sm-2">
                  <form #f="ngForm">
                    <div class="form-group">
                        <!-- <label for="email">Email address:</label> -->
                        <input #nameref="ngModel" [(ngModel)]="nameProp" name="name" type="text" class="form-control" placeholder="Enter name" id="name">
                    </div>
                    <div class="form-group">
                        <!-- <label for="email">Email address:</label> -->
                        <input #emailref="ngModel" [(ngModel)]="emailProp" name="email" type="email" class="form-control" placeholder="Enter email" id="email">
                    </div>
                    <div class="form-group">
                        <!-- <label for="pwd">Password:</label> -->
                        <textarea #messageref="ngModel" [(ngModel)]="messageProp" name="message" type="message" class="form-control" placeholder="Comment.." id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <p></p>
                    <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
    
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- container-scroller ends -->