<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <img src="assets/images/LOGO2.png"  width="40%" height="12%" />
          <h5 class="font-weight-normal mt-4 mb-5">
            The Newsprism offers authoritative insight and opinion on international
             news, politics, business, finance, science and technology etc.
          </h5>
         
        </div>
        <div class="col-sm-4">
          <h3 class="font-weight-bold mb-3">RECENT POSTS</h3>
          <div class="row">
            <div class="col-sm-12">
              <div class="footer-border-bottom pb-2">
                <div class="row">
                  <div class="col-3">
                    <img
                      src="assets/images/dashboard/home_1.jpg"
                      alt="thumb"
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-9">
                    <h5 class="font-weight-600">
                      Cotton import from USA to soar was American traders
                      predict
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="footer-border-bottom pb-2 pt-2">
                <div class="row">
                  <div class="col-3">
                    <img
                      src="assets/images/dashboard/home_2.jpg"
                      alt="thumb"
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-9">
                    <h5 class="font-weight-600">
                      Cotton import from USA to soar was American traders
                      predict
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div>
                <div class="row">
                  <div class="col-3">
                    <img
                      src="assets/images/dashboard/home_3.jpg"
                      alt="thumb"
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-9">
                    <h5 class="font-weight-600 mb-3">
                      Cotton import from USA to soar was American traders
                      predict
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <h3 class="font-weight-bold mb-3">CATEGORIES</h3>
          <div class="footer-border-bottom pb-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600">Business</h5>
              <div class="count">1</div>
            </div>
          </div>
          <div class="footer-border-bottom pb-2 pt-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600">Entertainment</h5>
              <div class="count">1</div>
            </div>
          </div>
          <div class="footer-border-bottom pb-2 pt-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600">Health</h5>
              <div class="count">1</div>
            </div>
          </div>
          <div class="footer-border-bottom pb-2 pt-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600">Science</h5>
              <div class="count">1</div>
            </div>
          </div>
          <div class="footer-border-bottom pb-2 pt-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600">Technology</h5>
              <div class="count">1</div>
            </div>
          </div>
          <div class="pt-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600">Sports</h5>
              <div class="count">1</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="d-sm-flex justify-content-between align-items-center">
            <div class="fs-14 font-weight-600">
              © 2020 @ <a routerlink="/home" target="_blank" class="text-white"> Newsprism</a>. All rights reserved.
            </div>
            <div class="fs-14 font-weight-600">
              Designed by <a href="/home" target="_blank" class="text-white">Techno Buddies</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>